.mail:hover {
  cursor: pointer;
}

.mail_header {
  border-bottom: 2px solid hsl(var(--border));
  padding: 0.5rem 1rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mail_list {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.mail_message {
  padding: 0.5rem;
}

.mail_message:hover {
  background-color: hsl(var(--accent));
}

.mail_message_header {
  display: flex;
  justify-content: space-between;
}
