.mail_list {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1rem;
  font-size: small;
}

.mail_message {
  padding: 0.5rem;
  border: 2px solid hsl(var(--border));
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 0.33rem;
  margin-bottom: 0.5rem;
}

.mail_message:hover {
  background-color: hsl(var(--accent));
  cursor: pointer;
}

.mail_message_header {
  display: flex;
  justify-content: space-between;
}

.mail_message h2 {
  font-weight: 600;
}

.mail_message_header span {
  color: hsl(var(--muted-foreground));
}

.mail_message p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: hsl(var(--muted-foreground));
}
